{% extends "base.html" %}

{% block title %}Manage{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <h1>Manage Saved Articles</h1>
    <button id="deleteSelectedBtn" class="btn btn-danger mb-3">Delete Selected</button>
    <table id="manageTable" class="display">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll"></th>
                <th>Title</th>
                <th>Authors</th>
                <th>Source</th>
                <th>Publication Date</th>
                <th>Abstract</th>
                <th>PMID</th>
                <th>PubMedLink</th>
                <th>Faculty Member</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td><input type="checkbox" class="article-checkbox" value="{{ article.id }}"></td>
                <td>{{ article.title }}</td>
                <td>{{ article.authors }}</td>
                <td>{{ article.source }}</td>
                <td>{{ article.pub_date }}</td>
                <td>{{ article.abstract }}</td>
                <td>{{ article.pmid }}</td>
                <td><a href="{{ article.pubmed_link }}" target="_blank">Link</a></td>
                <td>{{ article.faculty_member }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            $('#manageTable').DataTable({
                "pageLength": 100
            });

            $('#selectAll').click(function() {
                $('.article-checkbox').prop('checked', this.checked);
            });

            $('#deleteSelectedBtn').click(function() {
                var selectedIds = [];
                $('.article-checkbox:checked').each(function() {
                    selectedIds.push($(this).val());
                });

                if (selectedIds.length > 0) {
                    if (confirm('Are you sure you want to delete the selected articles?')) {
                        fetch('/delete_multiple', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ article_ids: selectedIds })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.reload();
                            } else {
                                alert('Error deleting articles.');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                    }
                } else {
                    alert('Please select at least one article to delete.');
                }
            });
        });
    </script>

{% endblock %}
