{% extends "base.html" %}

{% block title %}Faculty Publications{% endblock %}

{% block head %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <!-- Custom Tailwind Configuration for Stony Brook Colors -->
    <style>
        :root {
            --stony-brook-red: #cc0033;
            --stony-brook-gray: #4b4b4b;
        }

        .stony-brook-bg {
            background-color: var(--stony-brook-red);
        }

        .stony-brook-text {
            color: var(--stony-brook-red);
        }

        .stony-brook-gray-text {
            color: var(--stony-brook-gray);
        }

        .dataTables_wrapper .dataTables_filter {
            margin-bottom: 1rem; /* Add space below the search bar */
        }

        .dataTables_wrapper .dataTables_filter input {
            border: 1px solid var(--stony-brook-gray);
            padding: 0.375rem;
            border-radius: 0.375rem;
        }

        #loadingOverlay {
            display: none; /* Ensure the overlay is hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            z-index: 9999; /* Ensure it is on top of other elements */
            justify-content: center;
            align-items: center;
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .dataTables_wrapper .dataTables_filter {
                margin-bottom: 0.5rem;
            }

            .dataTables_wrapper .dataTables_filter input {
                padding: 0.25rem;
                font-size: 0.875rem;
            }

            #articlesTable th, #articlesTable td {
                padding: 0.25rem; /* Reduced padding for mobile */
                font-size: 0.75rem; /* Smaller font size for mobile */
            }
        }

        /* Increase the size of checkboxes */
        input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }

        /* DataTable row styling */
        #articlesTable tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        #articlesTable tbody tr:hover {
            background-color: #f1f1f1;
        }

        /* Rounded corners for DataTable */
        .dataTables_wrapper .dataTables_scrollHead, 
        .dataTables_wrapper .dataTables_scrollBody, 
        .dataTables_wrapper .dataTables_scrollFoot {
            border-radius: 0.5rem;
            overflow: hidden;
        }

        /* DataTable filter styling */
        .dataTables_wrapper .dataTables_filter select {
            appearance: none;
            background: none;
            border: none;
            padding: 0;
            margin-right: 1rem;
        }

        .dataTables_wrapper .dataTables_filter select:focus {
            outline: none;
        }

        .dataTables_wrapper .dataTables_filter label {
            font-weight: bold;
            margin-right: 1rem;
        }

        .dataTables_wrapper .dataTables_length select {
            appearance: none;
            background: none;
            border: none;
            padding: 0;
            margin-left: 0.5rem;
        }

        .dataTables_wrapper .dataTables_length select:focus {
            outline: none;
        }

        .dataTables_wrapper .dataTables_length label {
            font-weight: bold;
            margin-right: 0.5rem;
        }
    </style>    
{% endblock %}

{% block content %}

    <div class="mb-4">
        {% if faculty_member %}
            <span id="articleCountFaculty" class="text-lg stony-brook-text"></span>
        {% else %}
            <span id="articleCount" class="text-lg stony-brook-text"></span>
            <!-- <span class="text-lg bg-red-100 font-bold stony-brook-text border border-stony-brook-red rounded-full px-4 py-2 inline-block"> <a href="{{ url_for('dashboard') }}" class="text-red-700">Dashboard</a></span> -->
        {% endif %}
    </div>

    <div class="overflow-x-auto px-4">
        {% if logged_in %}
        <div class="flex mb-4">
            {% if faculty_member %}
                <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2" onclick="window.location.href='/'">Back</button>
            {% endif %}
            <button id="addNewBtn" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2" onclick="openAddModal()">Add New</button>
            <button id="deleteSelectedBtn" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2">Delete Selected</button>
            <!-- <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2" onclick="window.location.href='/dashboard'">Dashboard</button> -->
            <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2" onclick="window.location.href='/logout'">Logout</button>
        </div>
        {% endif %}
        
        {% if faculty_member and not logged_in %}
            <div>
                <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded mr-2 mb-4" onclick="window.location.href='/'">Back</button>
            </div>        
        
        {% else %}
            <div class="flex space-x-4 mb-4">
                <!-- <select id="facultyFilter" class="bg-white border border-gray-300 rounded-lg shadow-sm py-2 px-4 focus:outline-none focus:ring-2 focus:ring-red-500">
                    <option value="">All Faculty Members</option>
                    {% for faculty in distinct_faculty %}
                    <option value="{{ faculty }}">{{ faculty }}</option>
                    {% endfor %}
                </select> -->
                <select id="keywordFilter" class="bg-white border border-gray-300 rounded-lg shadow-sm py-2 px-4 focus:outline-none focus:ring-2 focus:ring-red-500">
                    <option value="">All PubMed Keywords</option>
                </select>
            </div>    
        {% endif %}

        <table id="articlesTable" class="min-w-full bg-white border border-gray-300 rounded-lg overflow-hidden shadow-lg">
            <thead>
                <tr class="stony-brook-bg text-white">
                    {% if logged_in %}
                    <th class="py-2"><input type="checkbox" id="selectAll"></th>
                    {% endif %}
                    <th class="py-2">Title</th>
                    <th class="py-2">Authors</th>
                    <th class="py-2">Source</th>
                    <th class="py-2">Publication Year</th>
                    <th class="py-2">Abstract</th>
                    <th class="py-2">Faculty Member</th>
                    <th class="py-2">PMID</th>
                    <th class="py-2">Link</th>
                    <th class="py-2">PubMed Keywords</th>
                    {% if logged_in %}
                    <th class="py-2">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr class="border-b border-gray-300 hover:bg-gray-100">
                    {% if logged_in %}
                    <td class="py-2"><input type="checkbox" class="article-checkbox" value="{{ article.id }}"></td>
                    {% endif %}
                    <td class="py-2">{{ article.title }}</td>
                    <td class="py-2">{{ article.authors[:100] }}</td>
                    <td class="py-2">{{ article.source[:100] }}</td>
                    <td class="py-2">{{ article.pub_date[:4] }}</td>
                    <td class="py-2">{{ article.abstract[:200] }}</td>
                    <td class="py-2">

                        {% if faculty_member %}
                            {{ faculty_member }}
                        {% else %}

                            {% for faculty in faculty_members %}
                                {% if faculty.name == article.faculty_member %}
                                <a href="{{ url_for('faculty_articles', faculty_id=faculty.id) }}" class="text-blue-500">{{ article.faculty_member }}</a>
                                {% endif %}
                            {% endfor %}

                        {% endif %}
                    </td>                    
                    <td class="py-2">{{ article.pmid }}</td>
                    <td class="py-2"><a href="{{ article.pubmed_link }}" target="_blank" class="text-blue-500">PubMed</a></td>
                    <td class="py-2">
                        {% for keyword in article.keywords %}
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">{{ keyword.keyword }}</span>
                        {% endfor %}
                    </td>
                    {% if logged_in %}
                    <td class="py-2">
                        <button class="text-blue-500" onclick="openEditModal({{ article.id }})">Edit</button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Add Modal -->
    <div id="addModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg">
            <h2 class="text-xl font-bold mb-4">Add New Article</h2>
            <form id="addForm">
                <div class="mb-4">
                    <label for="addTitle" class="block text-gray-700">Title</label>
                    <input type="text" id="addTitle" name="title" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="addAuthors" class="block text-gray-700">Authors</label>
                    <input type="text" id="addAuthors" name="authors" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="addSource" class="block text-gray-700">Source</label>
                    <input type="text" id="addSource" name="source" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="addPubDate" class="block text-gray-700">Publication Date</label>
                    <input type="text" id="addPubDate" name="pub_date" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="addAbstract" class="block text-gray-700">Abstract</label>
                    <textarea id="addAbstract" name="abstract" class="w-full p-2 border border-gray-300 rounded mt-2" required></textarea>
                </div>
                <div class="mb-4">
                    <label for="addFacultyMember" class="block text-gray-700">Faculty Member</label>
                    <input type="text" id="addFacultyMember" name="faculty_member" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="addPMID" class="block text-gray-700">PMID</label>
                    <input type="text" id="addPMID" name="pmid" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="addPubMedLink" class="block text-gray-700">PubMed Link</label>
                    <input type="text" id="addPubMedLink" name="pubmed_link" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" onclick="closeAddModal()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2">Cancel</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Add</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Modal -->
    <div id="editModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg">
            <h2 class="text-xl font-bold mb-4">Edit Article</h2>
            <form id="editForm">
                <input type="hidden" id="editId" name="id">
                <div class="mb-4">
                    <label for="editTitle" class="block text-gray-700">Title</label>
                    <input type="text" id="editTitle" name="title" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="editAuthors" class="block text-gray-700">Authors</label>
                    <input type="text" id="editAuthors" name="authors" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="editSource" class="block text-gray-700">Source</label>
                    <input type="text" id="editSource" name="source" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="editPubDate" class="block text-gray-700">Publication Date</label>
                    <input type="text" id="editPubDate" name="pub_date" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="mb-4">
                    <label for="editAbstract" class="block text-gray-700">Abstract</label>
                    <textarea id="editAbstract" name="abstract" class="w-full p-2 border border-gray-300 rounded mt-2" required></textarea>
                </div>
                <div class="mb-4">
                    <label for="editFacultyMember" class="block text-gray-700">Faculty Member</label>
                    <input type="text" id="editFacultyMember" name="faculty_member" class="w-full p-2 border border-gray-300 rounded mt-2" required>
                </div>
                <div class="flex justify-end">
                    <button type="button" onclick="closeEditModal()" class="bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2">Cancel</button>
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Loading Overlay -->
    <div id="loadingOverlay" class="fixed inset-0 bg-red-800 bg-opacity-50 flex items-center justify-center hidden z-50">
        <div class="text-white text-xl">Processing, please wait...</div>
    </div>

    <script>
        $(document).ready(function() {

            // Determine the column index based on the logged-in state
            var keywordColumnIndex = {% if logged_in %} 9 {% else %} 8 {% endif %};


            const table = $('#articlesTable').DataTable({
                "pageLength": 50,
                "order": [[4, 'desc']]  // Index 4 corresponds to the 5th column (Publication Date)
            });

            // Populate the keyword filter dropdown
            let keywordOptions = [];
            {% for keyword in distinct_keywords %}
            keywordOptions.push({ original: "{{ keyword }}", display: "{{ keyword.lower() }}" });
            {% endfor %}

            // Sort the keyword options based on the lowercase display text
            keywordOptions.sort((a, b) => a.display.localeCompare(b.display));

            // Append sorted options to the dropdown
            keywordOptions.forEach(function(keyword) {
                $('#keywordFilter').append(new Option(keyword.original, keyword.original));
            });

            // Update the article count with Tailwind styling
            $('#articleCount')
                .text(`${table.data().length} PubMed Articles Found`)
                .addClass('text-lg bg-red-100 font-bold stony-brook-text border border-stony-brook-red rounded-full px-4 py-2 inline-block');

            $('#articleCountFaculty')
            .text(`${table.data().length} PubMed Articles Found` + ' for ' + '{{ faculty_member }}')
            .addClass('text-lg bg-red-100 font-bold stony-brook-text border border-stony-brook-red rounded-full px-4 py-2 inline-block');

            // Filter articles by faculty member
            $('#facultyFilter').on('change', function () {
                const selectedFaculty = $(this).val();
                if (selectedFaculty) {
                    table.columns(5).search('^' + selectedFaculty + '$', true, false).draw();
                } else {
                    table.columns(5).search('').draw();
                }
            });

            // // Custom filtering function for keywords
            // $.fn.dataTable.ext.search.push(
            //     function(settings, data, dataIndex) {
            //         const selectedKeyword = $('#keywordFilter').val();
            //         const keywords = data[9]; // Keywords are in the 9th column (index 8)
            //         if (!selectedKeyword || keywords.includes(selectedKeyword)) {
            //             return true;
            //         }
            //         return false;
            //     }
            // );

            // Custom filtering function for keywords
            $.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex) {
                    const selectedKeyword = $('#keywordFilter').val();
                    const keywords = data[keywordColumnIndex]; // Use the dynamically set column index
                    if (!selectedKeyword || keywords.includes(selectedKeyword)) {
                        return true;
                    }
                    return false;
                }
            );

            // Filter articles by keyword
            $('#keywordFilter').on('change', function () {
                table.draw();
            });

            function adjustAbstracts() {
                const windowWidth = $(window).width();
                $('.abstract-cell').each(function() {
                    const fullAbstract = $(this).data('full-abstract');
                    if (windowWidth <= 768) {
                        $(this).text(fullAbstract.length > 250 ? fullAbstract.substring(0, 250) + '...' : fullAbstract);
                    } else {
                        $(this).text(fullAbstract);
                    }
                });
            }

            adjustAbstracts();
            $(window).resize(adjustAbstracts);

            // Handle the edit form submission
            $('#editForm').submit(function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                $.ajax({
                    url: '/edit_article',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        if (response.success) {
                            window.location.reload();
                        } else {
                            alert('Error updating article.');
                        }
                    }
                });
            });

            // Handle the add form submission
            $('#addForm').submit(function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                $.ajax({
                    url: '/add_article',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        if (response.success) {
                            window.location.reload();
                        } else {
                            alert('Error adding article.');
                        }
                    }
                });
            });

            // Select all checkboxes
            $('#selectAll').on('click', function() {
                $('.article-checkbox').prop('checked', this.checked);
            });

            // Handle the delete selected button click
            // Handle the delete selected button click
            $('#deleteSelectedBtn').click(function() {
                var selectedIds = [];
                $('.article-checkbox:checked').each(function() {
                    selectedIds.push($(this).val());
                });

                if (selectedIds.length > 0) {
                    if (confirm('Are you sure you want to delete the selected articles?')) {
                        // Show the loading overlay
                        $('#loadingOverlay').css('display', 'flex');

                        fetch('/delete_multiple', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ article_ids: selectedIds })
                        })
                        .then(response => response.json())
                        .then(data => {
                            // Hide the loading overlay
                            $('#loadingOverlay').css('display', 'none');

                            if (data.success) {
                                window.location.reload();
                            } else {
                                alert('Error deleting articles.');
                            }
                        })
                        .catch(error => {
                            // Hide the loading overlay
                            $('#loadingOverlay').css('display', 'none');
                            console.error('Error:', error);
                            alert('An error occurred. Please try again later.');
                        });
                    }
                } else {
                    alert('Please select at least one article to delete.');
                }
            });



        });

        // Open the add modal
        function openAddModal() {
            $('#addModal').removeClass('hidden');
        }

        // Close the add modal
        function closeAddModal() {
            $('#addModal').addClass('hidden');
        }

        // Open the edit modal and populate it with the article data
        function openEditModal(articleId) {
            $.get(`/get_article/${articleId}`, function(data) {
                $('#editId').val(data.id);
                $('#editTitle').val(data.title);
                $('#editAuthors').val(data.authors);
                $('#editSource').val(data.source);
                $('#editPubDate').val(data.pub_date);
                $('#editAbstract').val(data.abstract);
                $('#editFacultyMember').val(data.faculty_member);
                $('#editModal').removeClass('hidden');
            });
        }

        // Close the edit modal
        function closeEditModal() {
            $('#editModal').addClass('hidden');
        }
    </script>
{% endblock %}
