{% extends "base.html" %}

{% block title %}Faculty Publications{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <h1 class="text-2xl font-bold mb-4">SHP Faculty Publications</h1>
    <table id="articlesTable" class="display">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Source</th>
                <th>Publication Date</th>
                <th>Abstract</th>
                <th>Faculty Member</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.authors }}</td>
                <td>{{ article.source }}</td>
                <td>{{ article.pub_date }}</td>
                <td>{{ article.abstract }}</td>
                <td>{{ article.faculty_member }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            $('#articlesTable').DataTable({
                "pageLength": 100
            });
        });
    </script>

{% endblock %}

